@keyframes particles {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2560px);
  }
}

.particle,
.particle::after {
  background: transparent;
}

.particle::after {
  position: absolute;
  content: '';
  top: 2560px;
}

.particle:nth-child(1) {
  animation: particles 60s linear infinite;
}
.particle:nth-child(1),
.particle:nth-child(1)::after {
  box-shadow: 0 0 var(--primary-color), 1342px 1684px var(--primary-color), 2505px 2293px var(--primary-color),
    1873px 347px var(--primary-color), 2254px 1148px var(--primary-color), 664px 1217px var(--primary-color),
    2124px 454px var(--primary-color), 64px 1088px var(--primary-color), 1361px 2294px var(--primary-color),
    566px 1490px var(--primary-color), 405px 140px var(--primary-color), 786px 52px var(--primary-color),
    856px 917px var(--primary-color), 942px 2278px var(--primary-color), 2549px 129px var(--primary-color),
    913px 839px var(--primary-color), 808px 549px var(--primary-color), 171px 1717px var(--primary-color),
    1934px 575px var(--primary-color), 601px 1577px var(--primary-color), 516px 1343px var(--primary-color),
    1353px 2303px var(--primary-color), 787px 1996px var(--primary-color), 1256px 794px var(--primary-color),
    544px 1644px var(--primary-color), 2147px 533px var(--primary-color), 1713px 2362px var(--primary-color),
    2182px 1622px var(--primary-color), 1557px 689px var(--primary-color), 1036px 1736px var(--primary-color),
    354px 2485px var(--primary-color), 1480px 135px var(--primary-color), 2493px 2179px var(--primary-color),
    461px 517px var(--primary-color), 343px 708px var(--primary-color), 663px 1851px var(--primary-color),
    189px 763px var(--primary-color), 416px 1249px var(--primary-color), 2319px 1880px var(--primary-color),
    2024px 2270px var(--primary-color), 330px 583px var(--primary-color), 617px 637px var(--primary-color),
    310px 2064px var(--primary-color), 669px 1185px var(--primary-color), 1729px 2133px var(--primary-color),
    765px 162px var(--primary-color), 1579px 250px var(--primary-color), 142px 2455px var(--primary-color),
    2224px 334px var(--primary-color), 1181px 1980px var(--primary-color), 402px 1139px var(--primary-color),
    2245px 2163px var(--primary-color), 2154px 2269px var(--primary-color), 1980px 1569px var(--primary-color),
    184px 1888px var(--primary-color), 2357px 1439px var(--primary-color), 1426px 575px var(--primary-color),
    485px 1039px var(--primary-color), 987px 717px var(--primary-color), 2498px 1764px var(--primary-color),
    2286px 73px var(--primary-color), 71px 400px var(--primary-color), 2330px 837px var(--primary-color),
    2412px 1438px var(--primary-color), 256px 1503px var(--primary-color), 2517px 2463px var(--primary-color),
    199px 2219px var(--primary-color), 951px 1428px var(--primary-color), 123px 1469px var(--primary-color),
    1789px 285px var(--primary-color), 1995px 2128px var(--primary-color), 1609px 1652px var(--primary-color),
    2035px 67px var(--primary-color), 1223px 1508px var(--primary-color), 1526px 2182px var(--primary-color),
    2502px 1913px var(--primary-color), 2553px 253px var(--primary-color), 1850px 2503px var(--primary-color),
    101px 2366px var(--primary-color), 1642px 2061px var(--primary-color), 448px 1968px var(--primary-color),
    1336px 99px var(--primary-color), 1077px 446px var(--primary-color), 258px 1233px var(--primary-color),
    1474px 430px var(--primary-color), 1667px 820px var(--primary-color), 1963px 661px var(--primary-color),
    209px 2558px var(--primary-color), 722px 1656px var(--primary-color), 1260px 37px var(--primary-color),
    390px 472px var(--primary-color), 2077px 1573px var(--primary-color), 2169px 2544px var(--primary-color),
    971px 392px var(--primary-color), 464px 2092px var(--primary-color), 998px 226px var(--primary-color),
    38px 2313px var(--primary-color), 898px 1267px var(--primary-color), 469px 576px var(--primary-color),
    920px 1422px var(--primary-color), 293px 2018px var(--primary-color), 654px 2437px var(--primary-color),
    1726px 1144px var(--primary-color), 2379px 1086px var(--primary-color), 598px 910px var(--primary-color),
    854px 2246px var(--primary-color), 1368px 47px var(--primary-color), 1232px 1336px var(--primary-color),
    760px 1079px var(--primary-color), 2216px 949px var(--primary-color), 1232px 1020px var(--primary-color),
    1828px 971px var(--primary-color), 2284px 1014px var(--primary-color), 768px 1252px var(--primary-color),
    631px 101px var(--primary-color), 1695px 1337px var(--primary-color), 342px 2137px var(--primary-color),
    801px 714px var(--primary-color), 1717px 968px var(--primary-color), 1925px 722px var(--primary-color),
    1171px 2458px var(--primary-color), 1872px 528px var(--primary-color), 2526px 1021px var(--primary-color),
    1116px 1354px var(--primary-color), 2358px 958px var(--primary-color), 199px 1987px var(--primary-color),
    1676px 1889px var(--primary-color), 1303px 193px var(--primary-color), 959px 1982px var(--primary-color),
    1263px 1913px var(--primary-color), 1695px 297px var(--primary-color), 495px 1020px var(--primary-color),
    2207px 64px var(--primary-color), 1719px 2526px var(--primary-color), 2125px 2156px var(--primary-color),
    831px 371px var(--primary-color), 2481px 88px var(--primary-color), 2534px 1959px var(--primary-color),
    149px 805px var(--primary-color), 181px 188px var(--primary-color), 2251px 642px var(--primary-color),
    2216px 1937px var(--primary-color), 1783px 2236px var(--primary-color), 1227px 1600px var(--primary-color),
    291px 2112px var(--primary-color), 2443px 573px var(--primary-color), 2307px 447px var(--primary-color),
    2096px 1168px var(--primary-color), 2202px 560px var(--primary-color), 1566px 1862px var(--primary-color),
    1523px 733px var(--primary-color), 1262px 337px var(--primary-color), 1165px 2396px var(--primary-color),
    827px 2455px var(--primary-color), 1241px 1475px var(--primary-color), 631px 2240px var(--primary-color),
    2129px 1418px var(--primary-color), 875px 1071px var(--primary-color), 1194px 1683px var(--primary-color),
    1031px 1679px var(--primary-color), 1540px 1103px var(--primary-color), 1217px 191px var(--primary-color),
    56px 1430px var(--primary-color), 2295px 2162px var(--primary-color), 806px 784px var(--primary-color),
    99px 44px var(--primary-color), 2036px 1917px var(--primary-color), 851px 292px var(--primary-color),
    311px 2552px var(--primary-color), 2144px 2537px var(--primary-color), 1558px 2325px var(--primary-color),
    2170px 1924px var(--primary-color), 2400px 166px var(--primary-color), 1656px 2224px var(--primary-color),
    1241px 1832px var(--primary-color), 328px 496px var(--primary-color), 1636px 2135px var(--primary-color),
    1075px 1831px var(--primary-color), 2344px 550px var(--primary-color), 1872px 1176px var(--primary-color),
    1245px 1508px var(--primary-color), 890px 1264px var(--primary-color), 1821px 1271px var(--primary-color),
    2248px 534px var(--primary-color), 1430px 563px var(--primary-color), 235px 1195px var(--primary-color),
    1938px 1533px var(--primary-color), 1936px 829px var(--primary-color), 412px 610px var(--primary-color),
    1137px 505px var(--primary-color), 1771px 733px var(--primary-color), 702px 974px var(--primary-color),
    2269px 1901px var(--primary-color), 2184px 506px var(--primary-color), 811px 2548px var(--primary-color),
    104px 2066px var(--primary-color), 536px 2539px var(--primary-color), 2429px 1475px var(--primary-color),
    70px 1224px var(--primary-color), 1238px 558px var(--primary-color), 1792px 1288px var(--primary-color),
    1422px 2352px var(--primary-color), 1677px 1240px var(--primary-color), 2328px 112px var(--primary-color),
    238px 984px var(--primary-color), 1023px 1792px var(--primary-color), 1727px 1777px var(--primary-color),
    2349px 1251px var(--primary-color), 2111px 413px var(--primary-color), 1086px 1184px var(--primary-color),
    1207px 54px var(--primary-color), 1766px 168px var(--primary-color), 644px 2328px var(--primary-color),
    199px 2332px var(--primary-color), 1254px 2355px var(--primary-color), 274px 1789px var(--primary-color),
    1518px 2496px var(--primary-color), 2491px 932px var(--primary-color), 436px 109px var(--primary-color),
    1830px 1500px var(--primary-color), 1055px 1008px var(--primary-color), 378px 623px var(--primary-color),
    2080px 2044px var(--primary-color), 260px 753px var(--primary-color), 2097px 1349px var(--primary-color),
    2237px 197px var(--primary-color), 1834px 177px var(--primary-color), 2406px 791px var(--primary-color),
    1723px 212px var(--primary-color), 916px 1407px var(--primary-color), 369px 2071px var(--primary-color),
    734px 1914px var(--primary-color), 427px 1570px var(--primary-color), 196px 949px var(--primary-color),
    192px 2404px var(--primary-color), 1101px 314px var(--primary-color), 1577px 2019px var(--primary-color),
    774px 1939px var(--primary-color), 1656px 349px var(--primary-color), 109px 610px var(--primary-color),
    528px 1799px var(--primary-color), 852px 726px var(--primary-color), 2416px 1988px var(--primary-color),
    1034px 1162px var(--primary-color), 2119px 1063px var(--primary-color), 42px 715px var(--primary-color),
    2194px 2495px var(--primary-color), 333px 774px var(--primary-color), 1176px 1382px var(--primary-color),
    983px 2240px var(--primary-color), 31px 2498px var(--primary-color), 1516px 1556px var(--primary-color),
    1908px 1475px var(--primary-color), 595px 1820px var(--primary-color), 210px 656px var(--primary-color),
    547px 2451px var(--primary-color), 2228px 1029px var(--primary-color), 2513px 2250px var(--primary-color),
    1583px 1582px var(--primary-color), 1844px 545px var(--primary-color), 1871px 418px var(--primary-color),
    968px 2254px var(--primary-color), 466px 1154px var(--primary-color), 727px 2240px var(--primary-color),
    720px 2005px var(--primary-color), 1968px 1398px var(--primary-color), 1111px 2009px var(--primary-color),
    654px 2148px var(--primary-color), 1003px 1361px var(--primary-color), 1971px 1393px var(--primary-color),
    2531px 2443px var(--primary-color), 912px 1604px var(--primary-color), 323px 1664px var(--primary-color),
    2447px 933px var(--primary-color), 560px 2422px var(--primary-color), 2004px 194px var(--primary-color),
    669px 995px var(--primary-color), 1199px 1685px var(--primary-color), 602px 43px var(--primary-color),
    988px 1270px var(--primary-color), 535px 1029px var(--primary-color), 2371px 1127px var(--primary-color),
    372px 1223px var(--primary-color), 2549px 2151px var(--primary-color), 484px 2279px var(--primary-color),
    1346px 916px var(--primary-color), 375px 1444px var(--primary-color), 1262px 1391px var(--primary-color),
    2158px 2478px var(--primary-color), 1254px 792px var(--primary-color), 867px 520px var(--primary-color),
    2144px 2376px var(--primary-color), 1477px 1021px var(--primary-color), 2539px 1958px var(--primary-color),
    2017px 702px var(--primary-color), 201px 1943px var(--primary-color), 1573px 776px var(--primary-color),
    14px 2265px var(--primary-color), 2139px 1291px var(--primary-color), 621px 1641px var(--primary-color),
    299px 2154px var(--primary-color), 433px 2250px var(--primary-color), 1037px 243px var(--primary-color),
    2094px 801px var(--primary-color), 118px 990px var(--primary-color), 1843px 878px var(--primary-color),
    2500px 1279px var(--primary-color), 2097px 2246px var(--primary-color), 2045px 70px var(--primary-color),
    1274px 1480px var(--primary-color), 962px 674px var(--primary-color), 2497px 160px var(--primary-color),
    2516px 278px var(--primary-color), 841px 2050px var(--primary-color), 1120px 944px var(--primary-color),
    1638px 678px var(--primary-color), 2511px 1637px var(--primary-color), 1727px 1365px var(--primary-color),
    2100px 1619px var(--primary-color), 506px 52px var(--primary-color), 442px 817px var(--primary-color),
    1753px 2557px var(--primary-color), 1751px 2237px var(--primary-color), 2084px 707px var(--primary-color),
    739px 2293px var(--primary-color), 2528px 294px var(--primary-color), 1805px 316px var(--primary-color),
    477px 2105px var(--primary-color), 369px 2487px var(--primary-color), 1876px 826px var(--primary-color),
    470px 1586px var(--primary-color), 158px 1472px var(--primary-color), 380px 2479px var(--primary-color),
    1024px 1628px var(--primary-color), 585px 1707px var(--primary-color), 840px 1241px var(--primary-color),
    2052px 963px var(--primary-color), 2390px 94px var(--primary-color), 660px 1875px var(--primary-color),
    1020px 633px var(--primary-color), 409px 355px var(--primary-color), 1089px 1012px var(--primary-color),
    583px 899px var(--primary-color), 388px 1072px var(--primary-color), 69px 1752px var(--primary-color),
    1852px 1136px var(--primary-color), 721px 722px var(--primary-color), 1551px 2204px var(--primary-color),
    111px 2475px var(--primary-color), 1070px 1954px var(--primary-color), 96px 2096px var(--primary-color),
    466px 1253px var(--primary-color), 664px 360px var(--primary-color), 143px 1121px var(--primary-color),
    1793px 1301px var(--primary-color), 647px 187px var(--primary-color), 2049px 2237px var(--primary-color),
    596px 819px var(--primary-color), 1412px 2200px var(--primary-color), 272px 185px var(--primary-color),
    1087px 2200px var(--primary-color), 1185px 342px var(--primary-color), 2317px 330px var(--primary-color),
    19px 86px var(--primary-color), 909px 2226px var(--primary-color), 2083px 760px var(--primary-color),
    2428px 1626px var(--primary-color), 2507px 913px var(--primary-color), 1718px 864px var(--primary-color),
    1175px 402px var(--primary-color), 559px 131px var(--primary-color), 1839px 1285px var(--primary-color),
    2346px 1739px var(--primary-color), 1798px 1369px var(--primary-color), 2268px 1537px var(--primary-color),
    458px 614px var(--primary-color), 2383px 1267px var(--primary-color), 927px 2163px var(--primary-color),
    1604px 2036px var(--primary-color), 260px 2543px var(--primary-color), 1953px 804px var(--primary-color),
    1010px 940px var(--primary-color), 1126px 648px var(--primary-color), 2174px 1776px var(--primary-color),
    1901px 1051px var(--primary-color), 1988px 298px var(--primary-color), 863px 1934px var(--primary-color),
    799px 2337px var(--primary-color), 790px 1913px var(--primary-color), 2346px 728px var(--primary-color),
    1392px 5px var(--primary-color), 1682px 401px var(--primary-color), 613px 1686px var(--primary-color),
    1019px 1687px var(--primary-color), 81px 2125px var(--primary-color), 2475px 2015px var(--primary-color),
    311px 2026px var(--primary-color), 1593px 2480px var(--primary-color), 716px 425px var(--primary-color),
    1416px 1336px var(--primary-color), 2080px 2159px var(--primary-color), 1705px 1623px var(--primary-color),
    183px 838px var(--primary-color), 1392px 1479px var(--primary-color), 2064px 2422px var(--primary-color),
    2099px 231px var(--primary-color), 1308px 2185px var(--primary-color), 590px 570px var(--primary-color),
    721px 2445px var(--primary-color), 666px 310px var(--primary-color), 1609px 2425px var(--primary-color),
    1441px 1210px var(--primary-color), 1775px 2272px var(--primary-color), 17px 1774px var(--primary-color),
    2511px 1116px var(--primary-color), 590px 2143px var(--primary-color), 1324px 1163px var(--primary-color),
    81px 1626px var(--primary-color), 167px 183px var(--primary-color), 460px 154px var(--primary-color),
    1929px 430px var(--primary-color), 1163px 1506px var(--primary-color), 728px 2305px var(--primary-color),
    1326px 2446px var(--primary-color), 326px 2265px var(--primary-color), 2448px 2471px var(--primary-color),
    1062px 1677px var(--primary-color), 807px 2062px var(--primary-color), 1607px 1126px var(--primary-color),
    728px 790px var(--primary-color), 488px 2245px var(--primary-color), 1706px 641px var(--primary-color),
    1702px 1882px var(--primary-color), 1089px 2437px var(--primary-color), 2150px 254px var(--primary-color),
    557px 1550px var(--primary-color), 1883px 1975px var(--primary-color), 1427px 1389px var(--primary-color),
    1707px 1879px var(--primary-color), 1373px 747px var(--primary-color), 1269px 1217px var(--primary-color),
    217px 1863px var(--primary-color), 2268px 392px var(--primary-color), 942px 1534px var(--primary-color),
    2038px 2289px var(--primary-color), 2032px 602px var(--primary-color), 1744px 760px var(--primary-color),
    2261px 684px var(--primary-color), 1259px 1758px var(--primary-color), 1727px 2066px var(--primary-color),
    599px 891px var(--primary-color), 611px 1947px var(--primary-color), 1494px 2054px var(--primary-color),
    675px 10px var(--primary-color), 1593px 1689px var(--primary-color), 1327px 640px var(--primary-color),
    2068px 1621px var(--primary-color), 705px 614px var(--primary-color), 1846px 1130px var(--primary-color),
    125px 1257px var(--primary-color), 2502px 2472px var(--primary-color), 200px 1563px var(--primary-color),
    1524px 641px var(--primary-color), 2351px 778px var(--primary-color), 1454px 2063px var(--primary-color),
    990px 2274px var(--primary-color), 1912px 744px var(--primary-color), 2121px 726px var(--primary-color),
    2100px 1575px var(--primary-color), 417px 1580px var(--primary-color), 1116px 614px var(--primary-color),
    1788px 1726px var(--primary-color), 1296px 2088px var(--primary-color), 1523px 2091px var(--primary-color),
    1252px 2447px var(--primary-color), 1864px 1559px var(--primary-color), 1471px 1072px var(--primary-color),
    1778px 822px var(--primary-color), 1916px 534px var(--primary-color), 2010px 722px var(--primary-color),
    1840px 869px var(--primary-color), 644px 1617px var(--primary-color), 2249px 2039px var(--primary-color),
    2229px 1928px var(--primary-color), 1888px 420px var(--primary-color), 685px 933px var(--primary-color),
    1107px 701px var(--primary-color), 1876px 1835px var(--primary-color), 721px 2532px var(--primary-color),
    1935px 2244px var(--primary-color), 983px 1340px var(--primary-color), 39px 706px var(--primary-color),
    2337px 97px var(--primary-color), 2552px 245px var(--primary-color), 1272px 2428px var(--primary-color),
    179px 1828px var(--primary-color), 1913px 1568px var(--primary-color), 210px 47px var(--primary-color),
    2293px 863px var(--primary-color), 254px 724px var(--primary-color), 1470px 1359px var(--primary-color),
    332px 1491px var(--primary-color), 2311px 301px var(--primary-color), 1480px 2560px var(--primary-color),
    251px 96px var(--primary-color), 1619px 2176px var(--primary-color), 2469px 1038px var(--primary-color),
    1793px 2288px var(--primary-color), 284px 1904px var(--primary-color), 850px 841px var(--primary-color),
    1688px 1752px var(--primary-color), 192px 919px var(--primary-color), 472px 480px var(--primary-color),
    121px 107px var(--primary-color), 1653px 1482px var(--primary-color), 109px 2009px var(--primary-color),
    74px 731px var(--primary-color), 315px 947px var(--primary-color), 64px 834px var(--primary-color),
    957px 2170px var(--primary-color), 326px 2239px var(--primary-color), 95px 1971px var(--primary-color),
    1174px 1616px var(--primary-color), 780px 152px var(--primary-color), 1588px 404px var(--primary-color),
    68px 2540px var(--primary-color), 749px 78px var(--primary-color), 236px 2351px var(--primary-color),
    477px 1650px var(--primary-color), 440px 822px var(--primary-color), 1205px 2141px var(--primary-color),
    586px 403px var(--primary-color), 952px 90px var(--primary-color), 795px 1203px var(--primary-color),
    2084px 999px var(--primary-color), 637px 1108px var(--primary-color), 1793px 33px var(--primary-color),
    2340px 1486px var(--primary-color), 211px 2310px var(--primary-color), 2483px 2089px var(--primary-color),
    2267px 1470px var(--primary-color), 438px 2247px var(--primary-color), 209px 1777px var(--primary-color),
    2397px 2294px var(--primary-color), 2164px 100px var(--primary-color), 2px 2558px var(--primary-color),
    79px 1504px var(--primary-color), 181px 1658px var(--primary-color), 1608px 2105px var(--primary-color),
    765px 650px var(--primary-color), 2382px 2354px var(--primary-color), 1688px 2285px var(--primary-color),
    1479px 155px var(--primary-color), 636px 2552px var(--primary-color), 618px 1633px var(--primary-color),
    1930px 108px var(--primary-color), 566px 2165px var(--primary-color), 1961px 1007px var(--primary-color),
    2497px 2245px var(--primary-color), 735px 1855px var(--primary-color), 2235px 2203px var(--primary-color),
    1189px 1026px var(--primary-color), 467px 2363px var(--primary-color), 2079px 2464px var(--primary-color),
    1699px 2156px var(--primary-color), 452px 318px var(--primary-color), 978px 1095px var(--primary-color),
    2001px 148px var(--primary-color), 2474px 1317px var(--primary-color), 1983px 2216px var(--primary-color),
    2060px 1258px var(--primary-color), 1359px 265px var(--primary-color), 2088px 1280px var(--primary-color),
    2314px 1661px var(--primary-color), 1579px 21px var(--primary-color), 171px 1309px var(--primary-color),
    294px 2236px var(--primary-color), 925px 1064px var(--primary-color), 2269px 1629px var(--primary-color),
    11px 358px var(--primary-color), 808px 385px var(--primary-color), 1816px 128px var(--primary-color),
    477px 309px var(--primary-color), 1993px 2126px var(--primary-color), 1256px 2095px var(--primary-color),
    1395px 1265px var(--primary-color), 944px 2399px var(--primary-color), 2345px 2496px var(--primary-color),
    1359px 1856px var(--primary-color), 1628px 1581px var(--primary-color), 1477px 777px var(--primary-color),
    1562px 1422px var(--primary-color), 264px 693px var(--primary-color), 2244px 21px var(--primary-color),
    1372px 854px var(--primary-color), 1615px 1537px var(--primary-color), 1504px 2371px var(--primary-color),
    1465px 1518px var(--primary-color), 1315px 1782px var(--primary-color), 590px 996px var(--primary-color),
    1911px 391px var(--primary-color);
  width: 1px;
  height: 1px;
}
.particle:nth-child(2) {
  animation: particles 120s linear infinite;
}
.particle:nth-child(2),
.particle:nth-child(2)::after {
  box-shadow: 0 0 var(--primary-color), 1408px 312px var(--primary-color), 297px 1760px var(--primary-color),
    601px 1087px var(--primary-color), 634px 240px var(--primary-color), 1746px 678px var(--primary-color),
    1697px 37px var(--primary-color), 214px 902px var(--primary-color), 877px 39px var(--primary-color),
    1569px 4px var(--primary-color), 401px 184px var(--primary-color), 1025px 1134px var(--primary-color),
    1080px 1306px var(--primary-color), 499px 337px var(--primary-color), 1508px 2232px var(--primary-color),
    2204px 1556px var(--primary-color), 586px 1879px var(--primary-color), 344px 863px var(--primary-color),
    1204px 471px var(--primary-color), 673px 1248px var(--primary-color), 573px 1832px var(--primary-color),
    1845px 259px var(--primary-color), 559px 1055px var(--primary-color), 1680px 902px var(--primary-color),
    2311px 1833px var(--primary-color), 736px 1025px var(--primary-color), 1390px 1116px var(--primary-color),
    2450px 1794px var(--primary-color), 1897px 2148px var(--primary-color), 770px 1959px var(--primary-color),
    2023px 2365px var(--primary-color), 991px 1423px var(--primary-color), 1590px 585px var(--primary-color),
    1854px 1021px var(--primary-color), 691px 2464px var(--primary-color), 552px 471px var(--primary-color),
    418px 2471px var(--primary-color), 1623px 40px var(--primary-color), 662px 199px var(--primary-color),
    1837px 635px var(--primary-color), 2016px 1020px var(--primary-color), 2142px 2041px var(--primary-color),
    44px 868px var(--primary-color), 271px 656px var(--primary-color), 2248px 1267px var(--primary-color),
    2027px 31px var(--primary-color), 204px 1675px var(--primary-color), 620px 147px var(--primary-color),
    1894px 821px var(--primary-color), 2105px 1353px var(--primary-color), 2237px 1282px var(--primary-color),
    375px 766px var(--primary-color), 379px 2135px var(--primary-color), 2321px 78px var(--primary-color),
    91px 2160px var(--primary-color), 8px 909px var(--primary-color), 2547px 1557px var(--primary-color),
    542px 1439px var(--primary-color), 2264px 50px var(--primary-color), 555px 521px var(--primary-color),
    2071px 815px var(--primary-color), 2296px 221px var(--primary-color), 73px 2523px var(--primary-color),
    2391px 213px var(--primary-color), 2290px 405px var(--primary-color), 1594px 1130px var(--primary-color),
    141px 2397px var(--primary-color), 1402px 829px var(--primary-color), 2264px 238px var(--primary-color),
    1401px 2455px var(--primary-color), 1390px 1994px var(--primary-color), 954px 620px var(--primary-color),
    581px 1433px var(--primary-color), 857px 1481px var(--primary-color), 672px 2066px var(--primary-color),
    423px 1928px var(--primary-color), 2244px 1606px var(--primary-color), 2297px 2053px var(--primary-color),
    1195px 433px var(--primary-color), 1260px 257px var(--primary-color), 260px 56px var(--primary-color),
    498px 548px var(--primary-color), 2142px 334px var(--primary-color), 2454px 7px var(--primary-color),
    1312px 327px var(--primary-color), 1663px 214px var(--primary-color), 1239px 1430px var(--primary-color),
    1118px 589px var(--primary-color), 682px 1513px var(--primary-color), 2264px 1314px var(--primary-color),
    1342px 685px var(--primary-color), 1896px 1059px var(--primary-color), 79px 1580px var(--primary-color),
    2027px 371px var(--primary-color), 1864px 2199px var(--primary-color), 854px 1791px var(--primary-color),
    312px 1262px var(--primary-color), 1521px 1532px var(--primary-color), 308px 2540px var(--primary-color),
    2433px 1124px var(--primary-color), 2291px 25px var(--primary-color), 740px 63px var(--primary-color),
    2022px 2349px var(--primary-color), 2164px 393px var(--primary-color), 1911px 1363px var(--primary-color),
    719px 434px var(--primary-color), 493px 288px var(--primary-color), 2442px 9px var(--primary-color),
    134px 1429px var(--primary-color), 828px 2081px var(--primary-color), 1133px 1356px var(--primary-color),
    249px 2361px var(--primary-color), 1839px 1029px var(--primary-color), 570px 1160px var(--primary-color),
    325px 429px var(--primary-color), 2522px 225px var(--primary-color), 373px 1763px var(--primary-color),
    541px 856px var(--primary-color), 189px 2319px var(--primary-color), 1035px 823px var(--primary-color),
    65px 1417px var(--primary-color), 2520px 2410px var(--primary-color), 111px 323px var(--primary-color),
    460px 1308px var(--primary-color), 2153px 495px var(--primary-color), 733px 87px var(--primary-color),
    1523px 2059px var(--primary-color), 2465px 393px var(--primary-color), 2480px 2181px var(--primary-color),
    2244px 1716px var(--primary-color), 454px 664px var(--primary-color), 1914px 1365px var(--primary-color),
    1648px 1518px var(--primary-color), 966px 1235px var(--primary-color), 2053px 677px var(--primary-color),
    1082px 1209px var(--primary-color), 1995px 1355px var(--primary-color), 1222px 781px var(--primary-color),
    2463px 54px var(--primary-color), 607px 580px var(--primary-color), 1109px 1434px var(--primary-color),
    1363px 1496px var(--primary-color), 1709px 423px var(--primary-color), 1655px 193px var(--primary-color),
    692px 2461px var(--primary-color), 930px 28px var(--primary-color), 659px 1425px var(--primary-color),
    1689px 299px var(--primary-color), 1134px 1220px var(--primary-color), 776px 2488px var(--primary-color),
    1332px 927px var(--primary-color), 1809px 44px var(--primary-color), 208px 1681px var(--primary-color),
    1812px 909px var(--primary-color), 202px 356px var(--primary-color), 294px 1502px var(--primary-color),
    2155px 2437px var(--primary-color), 2137px 228px var(--primary-color), 92px 144px var(--primary-color),
    253px 844px var(--primary-color), 2488px 82px var(--primary-color), 1704px 2512px var(--primary-color),
    1047px 1459px var(--primary-color), 425px 1071px var(--primary-color), 2170px 2036px var(--primary-color),
    13px 374px var(--primary-color), 288px 2127px var(--primary-color), 1914px 1622px var(--primary-color),
    1980px 967px var(--primary-color), 1960px 2268px var(--primary-color), 2269px 1563px var(--primary-color),
    2134px 767px var(--primary-color), 1817px 2369px var(--primary-color), 1458px 229px var(--primary-color),
    1976px 654px var(--primary-color), 956px 537px var(--primary-color), 1342px 1321px var(--primary-color),
    2251px 1093px var(--primary-color), 218px 2282px var(--primary-color), 1340px 1587px var(--primary-color),
    173px 1701px var(--primary-color), 1449px 1377px var(--primary-color), 1350px 416px var(--primary-color),
    1527px 1167px var(--primary-color), 1135px 784px var(--primary-color), 2006px 1526px var(--primary-color),
    864px 2195px var(--primary-color), 2464px 2346px var(--primary-color), 913px 896px var(--primary-color),
    1642px 626px var(--primary-color), 782px 367px var(--primary-color), 593px 2423px var(--primary-color),
    1005px 1391px var(--primary-color), 2162px 1849px var(--primary-color), 1299px 1735px var(--primary-color),
    2393px 74px var(--primary-color), 2472px 439px var(--primary-color), 946px 2430px var(--primary-color),
    1432px 1628px var(--primary-color), 2010px 293px var(--primary-color), 1265px 136px var(--primary-color);
  width: 2px;
  height: 2px;
}
.particle:nth-child(3) {
  animation: particles 180s linear infinite;
}
.particle:nth-child(3),
.particle:nth-child(3)::after {
  box-shadow: 0 0 var(--primary-color), 1950px 1915px var(--primary-color), 1695px 1684px var(--primary-color),
    2549px 2211px var(--primary-color), 1567px 2334px var(--primary-color), 281px 1415px var(--primary-color),
    432px 691px var(--primary-color), 1194px 676px var(--primary-color), 702px 1964px var(--primary-color),
    44px 74px var(--primary-color), 1838px 289px var(--primary-color), 601px 1949px var(--primary-color),
    1143px 72px var(--primary-color), 433px 529px var(--primary-color), 2480px 1098px var(--primary-color),
    1190px 2387px var(--primary-color), 461px 515px var(--primary-color), 1282px 2055px var(--primary-color),
    2107px 1097px var(--primary-color), 2271px 197px var(--primary-color), 525px 911px var(--primary-color),
    1221px 1892px var(--primary-color), 1524px 1301px var(--primary-color), 1756px 1372px var(--primary-color),
    1329px 1691px var(--primary-color), 2403px 346px var(--primary-color), 2078px 2155px var(--primary-color),
    1034px 877px var(--primary-color), 336px 860px var(--primary-color), 287px 1930px var(--primary-color),
    665px 346px var(--primary-color), 1406px 1827px var(--primary-color), 722px 601px var(--primary-color),
    511px 1331px var(--primary-color), 645px 1626px var(--primary-color), 546px 1571px var(--primary-color),
    13px 1430px var(--primary-color), 1963px 902px var(--primary-color), 1390px 2025px var(--primary-color),
    939px 822px var(--primary-color), 2032px 1384px var(--primary-color), 2232px 2083px var(--primary-color),
    1316px 1716px var(--primary-color), 2008px 803px var(--primary-color), 1994px 1929px var(--primary-color),
    1651px 1624px var(--primary-color), 382px 1911px var(--primary-color), 162px 2560px var(--primary-color),
    2010px 933px var(--primary-color), 1231px 2043px var(--primary-color), 1214px 346px var(--primary-color),
    318px 2198px var(--primary-color), 1310px 312px var(--primary-color), 1232px 255px var(--primary-color),
    1291px 1857px var(--primary-color), 1536px 1849px var(--primary-color), 743px 360px var(--primary-color),
    994px 1004px var(--primary-color), 2334px 2389px var(--primary-color), 229px 273px var(--primary-color),
    469px 2081px var(--primary-color), 287px 2417px var(--primary-color), 655px 1945px var(--primary-color),
    1477px 809px var(--primary-color), 1520px 11px var(--primary-color), 1946px 672px var(--primary-color),
    1556px 1986px var(--primary-color), 758px 1600px var(--primary-color), 377px 2366px var(--primary-color),
    1896px 1352px var(--primary-color), 696px 2092px var(--primary-color), 2141px 2186px var(--primary-color),
    2524px 365px var(--primary-color), 854px 1519px var(--primary-color), 1250px 2363px var(--primary-color),
    1621px 2506px var(--primary-color), 1510px 228px var(--primary-color), 2383px 1892px var(--primary-color),
    674px 1680px var(--primary-color), 1611px 1101px var(--primary-color), 685px 2173px var(--primary-color),
    1510px 1272px var(--primary-color), 1896px 1004px var(--primary-color), 592px 672px var(--primary-color),
    671px 52px var(--primary-color), 886px 1304px var(--primary-color), 1718px 95px var(--primary-color),
    1806px 1008px var(--primary-color), 1307px 2310px var(--primary-color), 788px 362px var(--primary-color),
    2111px 2122px var(--primary-color), 1383px 1051px var(--primary-color), 791px 668px var(--primary-color),
    1738px 990px var(--primary-color), 1265px 700px var(--primary-color), 398px 627px var(--primary-color),
    1893px 27px var(--primary-color), 2294px 1015px var(--primary-color), 1884px 2362px var(--primary-color),
    2394px 853px var(--primary-color), 471px 1695px var(--primary-color);
  width: 3px;
  height: 3px;
}
.particle:nth-child(4) {
  animation: particles 400s linear infinite;
}
.particle:nth-child(4),
.particle:nth-child(4)::after {
  box-shadow: 0 0 var(--primary-color), 2306px 1814px var(--primary-color), 2198px 2221px var(--primary-color),
    318px 416px var(--primary-color), 1424px 2140px var(--primary-color), 1374px 148px var(--primary-color),
    160px 2552px var(--primary-color), 2190px 195px var(--primary-color), 831px 378px var(--primary-color),
    1657px 1385px var(--primary-color), 1071px 119px var(--primary-color), 2523px 1038px var(--primary-color),
    822px 620px var(--primary-color), 693px 1173px var(--primary-color), 1787px 2323px var(--primary-color),
    2173px 1572px var(--primary-color), 652px 1936px var(--primary-color), 1535px 1950px var(--primary-color),
    13px 1123px var(--primary-color), 131px 902px var(--primary-color), 2391px 1668px var(--primary-color),
    2072px 2272px var(--primary-color), 494px 1569px var(--primary-color), 1216px 367px var(--primary-color),
    90px 2091px var(--primary-color), 87px 209px var(--primary-color), 474px 1276px var(--primary-color),
    1175px 1510px var(--primary-color), 959px 1909px var(--primary-color), 176px 472px var(--primary-color),
    2193px 449px var(--primary-color), 682px 2002px var(--primary-color), 1622px 1473px var(--primary-color),
    1538px 2554px var(--primary-color), 1434px 1814px var(--primary-color), 1093px 2545px var(--primary-color),
    2432px 2511px var(--primary-color), 208px 1655px var(--primary-color), 970px 1542px var(--primary-color),
    51px 1252px var(--primary-color), 20px 1435px var(--primary-color), 1899px 841px var(--primary-color),
    1029px 1467px var(--primary-color), 1608px 754px var(--primary-color), 1230px 2105px var(--primary-color),
    856px 1716px var(--primary-color), 516px 1044px var(--primary-color), 1451px 146px var(--primary-color),
    1227px 1459px var(--primary-color), 2541px 1087px var(--primary-color), 2369px 576px var(--primary-color),
    1729px 2480px var(--primary-color), 1806px 1445px var(--primary-color), 2528px 268px var(--primary-color),
    2442px 1866px var(--primary-color), 150px 858px var(--primary-color), 2489px 2298px var(--primary-color),
    35px 551px var(--primary-color), 763px 1043px var(--primary-color), 2142px 1307px var(--primary-color),
    811px 1100px var(--primary-color), 436px 681px var(--primary-color), 2291px 2018px var(--primary-color),
    2241px 1456px var(--primary-color), 1308px 2538px var(--primary-color), 1932px 1619px var(--primary-color),
    2536px 1940px var(--primary-color), 346px 1870px var(--primary-color), 1456px 197px var(--primary-color),
    2400px 2235px var(--primary-color), 958px 1487px var(--primary-color), 575px 2457px var(--primary-color),
    2326px 1034px var(--primary-color), 285px 990px var(--primary-color), 844px 2160px var(--primary-color),
    2246px 2080px var(--primary-color), 42px 1826px var(--primary-color), 1675px 236px var(--primary-color),
    1660px 701px var(--primary-color), 2238px 2298px var(--primary-color), 9px 1229px var(--primary-color),
    2292px 1540px var(--primary-color), 1565px 1922px var(--primary-color), 774px 1623px var(--primary-color),
    116px 2189px var(--primary-color), 332px 1720px var(--primary-color), 1853px 93px var(--primary-color),
    946px 1409px var(--primary-color), 1150px 115px var(--primary-color), 1525px 2301px var(--primary-color),
    525px 1428px var(--primary-color), 1371px 1852px var(--primary-color), 686px 352px var(--primary-color),
    55px 555px var(--primary-color), 1218px 2290px var(--primary-color), 152px 1548px var(--primary-color),
    1610px 649px var(--primary-color), 2012px 442px var(--primary-color), 2472px 804px var(--primary-color),
    1224px 912px var(--primary-color), 2250px 1799px var(--primary-color), 1934px 36px var(--primary-color),
    1468px 2055px var(--primary-color), 2159px 1989px var(--primary-color), 2506px 1825px var(--primary-color),
    1104px 69px var(--primary-color), 1743px 89px var(--primary-color), 2150px 2179px var(--primary-color),
    307px 2387px var(--primary-color), 1008px 2463px var(--primary-color), 1391px 1881px var(--primary-color),
    371px 76px var(--primary-color), 671px 959px var(--primary-color), 1582px 1905px var(--primary-color),
    479px 2150px var(--primary-color), 1047px 486px var(--primary-color), 774px 379px var(--primary-color),
    1651px 832px var(--primary-color), 1880px 811px var(--primary-color), 1052px 1787px var(--primary-color),
    1213px 1534px var(--primary-color), 2058px 174px var(--primary-color), 184px 291px var(--primary-color),
    1243px 1457px var(--primary-color), 2515px 319px var(--primary-color), 2346px 755px var(--primary-color),
    2099px 2438px var(--primary-color), 2009px 1586px var(--primary-color), 2057px 644px var(--primary-color),
    1270px 1346px var(--primary-color), 1270px 2305px var(--primary-color), 1838px 1088px var(--primary-color),
    733px 1083px var(--primary-color), 112px 141px var(--primary-color), 175px 1858px var(--primary-color),
    478px 2342px var(--primary-color), 1711px 1594px var(--primary-color), 386px 997px var(--primary-color),
    1011px 470px var(--primary-color), 2111px 1677px var(--primary-color), 2181px 603px var(--primary-color),
    2478px 1593px var(--primary-color), 602px 1887px var(--primary-color), 1628px 342px var(--primary-color),
    2013px 2120px var(--primary-color), 2163px 2097px var(--primary-color), 2084px 1479px var(--primary-color),
    1599px 331px var(--primary-color), 2070px 1890px var(--primary-color), 205px 1107px var(--primary-color),
    1080px 463px var(--primary-color), 1004px 1306px var(--primary-color), 453px 1603px var(--primary-color),
    87px 2445px var(--primary-color), 1822px 671px var(--primary-color), 118px 2280px var(--primary-color),
    2046px 216px var(--primary-color), 347px 1551px var(--primary-color), 2479px 1540px var(--primary-color),
    1699px 504px var(--primary-color), 1538px 1752px var(--primary-color), 2028px 1272px var(--primary-color),
    1140px 1204px var(--primary-color), 973px 1016px var(--primary-color), 1689px 2104px var(--primary-color),
    1417px 144px var(--primary-color), 859px 2151px var(--primary-color), 294px 1434px var(--primary-color),
    855px 672px var(--primary-color), 3px 2303px var(--primary-color), 397px 1582px var(--primary-color),
    1292px 1115px var(--primary-color), 2488px 1356px var(--primary-color), 1229px 643px var(--primary-color),
    595px 2528px var(--primary-color), 995px 617px var(--primary-color), 990px 339px var(--primary-color),
    2113px 585px var(--primary-color), 1649px 111px var(--primary-color), 1343px 1969px var(--primary-color),
    573px 337px var(--primary-color), 2386px 564px var(--primary-color), 2005px 1502px var(--primary-color),
    905px 1835px var(--primary-color), 2189px 1420px var(--primary-color), 1902px 2529px var(--primary-color),
    1685px 1220px var(--primary-color), 976px 2541px var(--primary-color), 1495px 644px var(--primary-color),
    1869px 1950px var(--primary-color), 2310px 1699px var(--primary-color), 206px 1411px var(--primary-color),
    816px 1432px var(--primary-color), 408px 2499px var(--primary-color), 1659px 256px var(--primary-color),
    1477px 986px var(--primary-color), 280px 672px var(--primary-color), 1194px 1375px var(--primary-color),
    1201px 2019px var(--primary-color), 965px 1100px var(--primary-color), 995px 889px var(--primary-color),
    948px 2180px var(--primary-color), 478px 1533px var(--primary-color), 1771px 48px var(--primary-color),
    2113px 1880px var(--primary-color), 335px 2322px var(--primary-color), 1681px 2180px var(--primary-color),
    1134px 1980px var(--primary-color), 2177px 936px var(--primary-color), 906px 1030px var(--primary-color),
    950px 511px var(--primary-color), 832px 537px var(--primary-color), 1565px 1719px var(--primary-color),
    2193px 1708px var(--primary-color), 1344px 1774px var(--primary-color), 1566px 209px var(--primary-color),
    635px 600px var(--primary-color), 793px 548px var(--primary-color), 1313px 1331px var(--primary-color),
    2401px 1016px var(--primary-color), 56px 1562px var(--primary-color), 1182px 1782px var(--primary-color),
    2539px 513px var(--primary-color), 1732px 83px var(--primary-color), 1734px 2471px var(--primary-color),
    1569px 2156px var(--primary-color), 1424px 258px var(--primary-color), 1828px 243px var(--primary-color),
    2312px 2524px var(--primary-color), 1811px 582px var(--primary-color), 2279px 1950px var(--primary-color),
    1303px 2473px var(--primary-color), 1167px 1768px var(--primary-color), 1784px 1204px var(--primary-color),
    2177px 417px var(--primary-color), 154px 364px var(--primary-color), 1520px 310px var(--primary-color),
    2064px 1141px var(--primary-color), 2223px 1277px var(--primary-color), 2394px 2112px var(--primary-color),
    1646px 507px var(--primary-color), 2432px 1314px var(--primary-color), 969px 410px var(--primary-color),
    508px 2040px var(--primary-color), 498px 2159px var(--primary-color), 1120px 2191px var(--primary-color),
    1291px 63px var(--primary-color), 1346px 118px var(--primary-color), 2358px 2012px var(--primary-color),
    1743px 2292px var(--primary-color), 1034px 170px var(--primary-color), 1261px 83px var(--primary-color),
    2070px 289px var(--primary-color), 2224px 382px var(--primary-color), 2177px 1874px var(--primary-color),
    1355px 212px var(--primary-color), 1482px 598px var(--primary-color), 873px 2479px var(--primary-color),
    1427px 1331px var(--primary-color), 2312px 1451px var(--primary-color), 1465px 2396px var(--primary-color),
    1963px 78px var(--primary-color), 340px 908px var(--primary-color), 1959px 1746px var(--primary-color),
    819px 471px var(--primary-color), 2421px 1928px var(--primary-color), 1708px 2399px var(--primary-color),
    779px 171px var(--primary-color), 1566px 1089px var(--primary-color), 2186px 906px var(--primary-color),
    5px 1062px var(--primary-color), 1150px 602px var(--primary-color), 399px 2480px var(--primary-color),
    1243px 2281px var(--primary-color), 865px 539px var(--primary-color), 1284px 1945px var(--primary-color),
    433px 275px var(--primary-color), 655px 2137px var(--primary-color), 574px 1856px var(--primary-color),
    752px 1359px var(--primary-color), 1901px 247px var(--primary-color), 1363px 555px var(--primary-color),
    1px 2124px var(--primary-color), 1961px 597px var(--primary-color), 1049px 1660px var(--primary-color),
    709px 533px var(--primary-color), 1632px 1877px var(--primary-color), 2377px 1109px var(--primary-color),
    1654px 1261px var(--primary-color), 659px 1072px var(--primary-color), 980px 471px var(--primary-color),
    2527px 1278px var(--primary-color), 230px 1272px var(--primary-color), 513px 1844px var(--primary-color),
    1943px 793px var(--primary-color), 1629px 1699px var(--primary-color), 2509px 1537px var(--primary-color),
    2450px 800px var(--primary-color), 2217px 2165px var(--primary-color), 718px 1828px var(--primary-color),
    811px 2114px var(--primary-color), 2047px 2378px var(--primary-color), 413px 1962px var(--primary-color),
    1138px 1355px var(--primary-color), 1571px 2337px var(--primary-color), 1568px 1485px var(--primary-color),
    353px 2369px var(--primary-color), 365px 1533px var(--primary-color), 126px 1680px var(--primary-color),
    802px 2557px var(--primary-color), 1674px 382px var(--primary-color), 1855px 2128px var(--primary-color),
    847px 1800px var(--primary-color), 2028px 1910px var(--primary-color), 1909px 789px var(--primary-color),
    1639px 1521px var(--primary-color), 1943px 429px var(--primary-color), 2374px 517px var(--primary-color),
    1203px 2036px var(--primary-color), 1290px 2361px var(--primary-color), 1639px 1095px var(--primary-color),
    1167px 1043px var(--primary-color), 1618px 2028px var(--primary-color), 423px 530px var(--primary-color),
    2500px 1939px var(--primary-color), 1832px 1100px var(--primary-color), 318px 2493px var(--primary-color),
    1764px 2460px var(--primary-color), 2495px 1439px var(--primary-color), 518px 1961px var(--primary-color),
    199px 2174px var(--primary-color), 1295px 964px var(--primary-color), 1055px 2406px var(--primary-color),
    1173px 1721px var(--primary-color), 2428px 337px var(--primary-color), 1218px 1075px var(--primary-color),
    107px 893px var(--primary-color), 457px 213px var(--primary-color), 1766px 97px var(--primary-color),
    2040px 1661px var(--primary-color), 1171px 433px var(--primary-color), 1819px 2120px var(--primary-color),
    1586px 2168px var(--primary-color), 584px 2135px var(--primary-color), 215px 1094px var(--primary-color),
    147px 1557px var(--primary-color), 1039px 395px var(--primary-color), 1949px 247px var(--primary-color),
    653px 1879px var(--primary-color), 2436px 1651px var(--primary-color), 126px 1659px var(--primary-color),
    1337px 2533px var(--primary-color), 1864px 463px var(--primary-color), 1372px 2500px var(--primary-color),
    2036px 754px var(--primary-color), 2252px 538px var(--primary-color), 2379px 2210px var(--primary-color),
    1646px 1996px var(--primary-color), 1288px 1406px var(--primary-color), 702px 1186px var(--primary-color),
    2552px 1697px var(--primary-color), 2198px 1014px var(--primary-color), 1019px 2062px var(--primary-color),
    1138px 1407px var(--primary-color), 277px 1259px var(--primary-color), 1859px 827px var(--primary-color),
    620px 1285px var(--primary-color), 2063px 269px var(--primary-color), 2375px 915px var(--primary-color),
    1463px 1355px var(--primary-color), 2122px 262px var(--primary-color), 2403px 1955px var(--primary-color),
    1981px 2226px var(--primary-color), 1388px 428px var(--primary-color), 987px 2215px var(--primary-color),
    919px 2072px var(--primary-color), 604px 2094px var(--primary-color), 145px 1582px var(--primary-color),
    1500px 2440px var(--primary-color), 511px 1159px var(--primary-color), 1119px 173px var(--primary-color),
    766px 1617px var(--primary-color), 666px 2166px var(--primary-color), 1583px 1371px var(--primary-color),
    1809px 1943px var(--primary-color), 589px 1547px var(--primary-color), 724px 259px var(--primary-color),
    1282px 1525px var(--primary-color), 1229px 626px var(--primary-color), 350px 2300px var(--primary-color),
    757px 47px var(--primary-color), 1426px 114px var(--primary-color), 749px 499px var(--primary-color),
    952px 1522px var(--primary-color), 1299px 2072px var(--primary-color), 1686px 1088px var(--primary-color),
    2195px 1616px var(--primary-color), 1219px 2007px var(--primary-color), 165px 2235px var(--primary-color),
    2135px 2259px var(--primary-color), 359px 1520px var(--primary-color);
  width: 2px;
  height: 2px;
}
