body{
    color: aliceblue;
    background-image: url('./assets/img/back3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    height: 100vh;
}

.primary-color-text{
    color: #FEE715;
    font-style: italic;
}
.medium-text{
    font-size: xx-large;
}
.navbar {
    background-color: #ffffff25 !important;
    position: fixed;
    width: 100%;
    align-items: end;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 2;
    /* border-bottom: 1px solid #FEE715; */
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: #FEE715 !important;
}

.nav-item::after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: #FEE715;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.nav-item:hover::after{
    transform: scale(1);
}

.btn-outline-light:hover{
    background-color: #FEE715;
    border-color: black;
    font-size: black;
}
/* #mask {
    width: 50vh;
    height: 50vh;
    padding: 1rem;

    background-image: url('/src/assets/me.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    mask-image: url('/src/assets/mask.webp');
    mask-size: 50vmin;
    mask-repeat: no-repeat;
    mask-position: center;

    -webkit-mask-image: url('/src/assets/mask.webp');
    -webkit-mask-size: 50vmin;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
} */
#profile-img{
    width: 40vh;
    border-radius: 50%;
    background-position: center;
}

#about,#career{
    background-color: #ffffff18;
}
.heading-underline::after{
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #FEE715;
}
.small-text{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.smaller-text{
    font-size: 15px;
}

.thin-border{
    border: 1px solid white;
}

.fa-brands:hover {
    cursor: pointer;
}

.fa-instagram:hover {
    background: linear-gradient(45deg, #feda75, #fa7e1e,#d62976, #962fbf,#4f5bd5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.fa-github:hover {
    color: #171515;
}

.fa-linkedin:hover {
    color: #0A66C2;
}

.card{
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
}
.card:hover{
    background-color: #ffffff25;
    border: 1px solid #FEE71500;
    /* color: black !important; */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
}
.card-img-top{
    border-radius: inherit;
}

.skills{
    border-radius: 40px;
    border: white solid 2px;
}
.skills:hover{
    background-color: #FEE715;
    border: none;
}

#footer{
    background-color: black;
}

.main-footer__lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: left;
    text-align: center;
}
